#brackets-sftp-upload .status-stab{
    color: #555;
    cursor: pointer;
}
.brackets-sftp-upload table {
	width: 100%;
	position: relative;
}

.brackets-sftp-upload td {
	vertical-align: middle;
}

.brackets-sftp-upload td.filename{
    padding-left: 20px;
}

.brackets-sftp-upload .done {
	opacity: .5;
}

.brackets-sftp-upload .done .message {
	text-decoration: line-through;
}

/*--- TABLE ROWS ---*/
.brackets-sftp-upload .disclosure-triangle {
	display: inline-block;
	width: 18px;
	height: 16px;
	background-position: 8px 4px;
}

.brackets-sftp-upload .expanded .disclosure-triangle {
	background-position: 6px 4px;
	-webkit-transform: translateZ( 0 ) rotate( 90deg );
}

.brackets-sftp-upload .line {
	width: 2em;
	padding: 0 0 0 .8em;
	text-align: right;
}

.brackets-sftp-upload .tag {
	width: 5.2em;
	height: 1.8em;
	padding: 0 .5em;
}

.brackets-sftp-upload .tag span {
	display: inline-block;
	width: 	5.2em;
	margin: 0 .1em;
	padding: 0;
	background-color: #555;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border-radius: .5em;
}

/*--- TAGS STYLING ---*/
.brackets-sftp-upload .tag .todo {
	background-color: #d95;
}

.brackets-sftp-upload .tag .note {
	background-color: #696;
}

.brackets-sftp-upload .tag .fixme {
	background-color: #c95353;
}

.brackets-sftp-upload .tag .future {
	background-color: #5a99c3;
}

/*--- ICON ---*/
#brackets-sftp-upload-icon {
	background-image: url( 'images/sftp-icon.svg' );
}

#brackets-sftp-upload-icon.active {
	background-position-y: -24px;
}

#brackets-sftp-upload-icon.uploading {
    background-position-x: -24px;
}

/*--- TOOLBAR ---*/
.brackets-sftp-upload .tools {
	position: absolute;
	top: 1px;
	bottom: 0;
	right: 40px;
	margin-left: -.5em;
	line-height: 24px;
	text-align: right;
}

.brackets-sftp-upload .tools > div {
	display: inline;
}

.brackets-sftp-upload .tools a {
	display: inline-block;
	margin-left: .25em;
	text-decoration: none;
}

.brackets-sftp-upload .icons a {
	width: 18px;
	height: 18px;
	background: transparent url( 'images/sprite.svg' ) no-repeat left top;
	line-height: 1;
	border-radius: 3px;
}

.brackets-sftp-upload .icons a:hover {
	opacity: .5;
	background-color: #fff;
}

.brackets-sftp-upload .icons .collapse-all {
	background-position: left top;
}

.brackets-sftp-upload .icons .expand-all {
	background-position: left -18px;
}

.brackets-sftp-upload .icons .indicator {
	opacity: .5;
	background-position: left -36px;
}

.brackets-sftp-upload.todo-file .icons .indicator {
	opacity: 1;
}

.brackets-sftp-upload .tags {
	vertical-align: middle;
	font-size: 0.8em;
	text-transform: uppercase;
}

.brackets-sftp-upload .tags a {
	padding: 0 .25em;
	line-height: 18px;
	border-radius: 3px;
	color: #666;
}

.brackets-sftp-upload .tags .visible,
.brackets-sftp-upload .tags a:hover {
	opacity: .8;
	background-color: #fff;
}

.brackets-sftp-upload .tags .visible {
	opacity: .6;
}

.brackets-sftp-upload .tags .count {
	padding: 0 .15em;
}

/*--- PROJECT WIDE SEARCH ---*/
.brackets-sftp-upload.current .icons .expand-all,
.brackets-sftp-upload.current .icons .collapse-all,
.brackets-sftp-upload.current tr.file {
	display: none;
}

.sftp-upload-server-config-form .field-container {
    margin-bottom: 7px;
}

.sftp-upload-server-config-form input, .sftp-upload-server-config-form select {
    margin-left: 105px;
    margin-bottom: 0;
    display: inline-block;
}

.sftp-upload-server-config-form label {
    position: absolute;
    margin-top: 5px;
    display: inline-block;
    width: 100px;
    text-align: right;
}

/* Checkbox has less height than standard text box */
.sftp-upload-server-config-form .upload-on-save label {
    margin-top: 0px;
}

.sftp-upload-server-config-form .future label {
    width: 210px;
    margin-top: 7px;
}

#sftpupload-log-viewer-dialog { width: 70%; }
#sftpupload-settings-dialog { width: 750px; }
#sftpuoload-settings-server-list {
	background: #333;
	padding: 0.5em;
	/*border: 1px solid #999;*/
	list-style-type: none;
	margin: 0;
	min-height: 225px;
}
#sftpuoload-settings-server-list li {
	margin-bottom: 5px;
	font-size: 1.1em;
	position: relative;
	padding: 0.2em 0.2em;
}
#sftpuoload-settings-server-list li.selected {
	color: #FFF;
	font-weight: bolder;
	background: #2c2c2c;
}
#sftpuoload-settings-server-list li:hover {
	background: #3c3c3c;
	cursor: pointer;
	color: #000;
	font-weight: bold;
}
#sftpuoload-settings-server-list li > a.close { display: none;  }
#sftpuoload-settings-server-list li:hover > a.close { 
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	color: #FFF;
	font-size: 1em;
	cursor: pointer;
	padding: 0.2em 0.5em;
	margin: 0;
}
#sftpuoload-settings-server-list li:hover > a.close:hover {
	background: #852222;
	color: #FFF;
}
button.btn-server-setup > b {
	font-weight: bold;
	color: #FFF;
}
.sftp-upload-settings-list-panel {
	float: left;
	width: 250px;
}

.sftp-upload-settings-list-panel {
	float: left;
	display: inline-block;
	margin-left: 10px;
}

.sftp-conn-error {
	color: #852222;
	display: block;
	background: #090909;
	border-radius: 4px;
	font-size: 1.3em;
	padding: 4px 6px;
}


.sftp-clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
   *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
}

#sftp-update-browser {
	position: absolute;
	right: 29px;
	top: 0;
	z-index: 999;
	width: 250px;
	background: #2c2c2c;
	min-height: 450px;
	padding: 6px;
	display: none;
	box-sizing: border-box;
	overflow: auto;
}
#sftp-update-browser * { box-sizing: border-box; }

#sftp-update-browser a.close { position: absolute; top: 3px; right: 3px;}

#sftp-update-browser > .header button, 
#sftp-update-browser > .header label {
	display: inline-block; }


#sftp-update-browser ul { list-style-type: none; padding: 0; margin: 0; }

#sftp-update-browser ul li.folder > label:before {
	content: " + ";
	padding: 4px;
	margin-right: 4px;
}

#sftp-update-browser ul li.folder.open > label:before {
	content: " - ";
	padding: 4px;
	margin-right: 4px;
}

#sftp-update-browser ul li:not(.folder) > label {
	margin-left: 10px;
}

#sftp-update-browser ul li.folder > ul {
	margin-left: 10px;
}